<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>

<!-- Local CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

<!--  Page Template -->
<html>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <head>
        <title>Grid Node</title>
    </head>
    <body>
        <div style="background-image: url(static/images/background-gradient.bd2e1d32.svg); height: 900px;" class="uk-background-cover uk-align-center uk-container-expand">
            <div class="uk-section uk-padding-remove-vertical">
                
                <div class="uk-flex uk-flex-center uk-padding-medium">
                    <img class="uk-flex-first" width="50" height="50" alt="Grid Icon" uk-img="/static/images/grid-white.01b839c4.svg" uk-svg>
                    <h2 class="uk-position-top-center" style="color: white"> Grid Node </h2>
                </div>
                
                <!-- General Info -->
                <div class="uk-width-medium uk-align-center uk-flex uk-flex-center">
                    <div class="uk-flex uk-flex-center uk-flex-middle uk-align-left">
                        <div style=" color: white" class="uk-text-lighter uk-text-left">Status: </div>
                        <div style="color:white" id="online_status" class="uk-text-bold">[[ status ]]</div>
                    </div>
                    <div class="uk-flex uk-flex-center uk-flex-middle uk-align-right">
                        <div style=" color: white" class="uk-text-lighter uk-text-left">ID: </div>
                        <div style="color:white" id="name_of_node" class="uk-text-bold">[[ name ]]</div>
                    </div>
                </div>
                <!-- General Info End -->
                
                <!-- Bottom Cards Flex Box - Status Tables -->
                <div id="bottom-cards" class="uk-flex uk-flex-center uk-width-1-3 uk-padding-large uk-position-bottom-center" style="height: 600px">
                        <div class="uk-card uk-card-default uk-card-body uk-width-large round-corners">
                            <h3 class="uk-card-title">Models Hosted</h3>
                            <p>
                                <ul id="m-for-models-list" class="demo">
                                    <li v-for="model in models">
                                      [[ model ]]
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <div class="uk-card uk-card-default uk-card-body uk-width-large uk-margin-left round-corners">
                            <h3 class="uk-card-title">Tensors Hosted</h3>
                            <p></p>
                        </div>
                </div>
                <!-- Bottom Cards Flex Box - Status Tables End -->
            </div>
        </div> 
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
